/* Mobile Firts */
h1{
    background-color: pink;
}

/* Ngược với max-width */
/* Màn hình nhỏ trước màn hình nhỏ sau */
@media screen and (min-width: 700px){
    h1{
        background-color: yellow;
    }
}

/* Lỗi ở 1 số khoảng cách nhỏ trong trường hợp đặc biệt */
@media screen and (min-width: 1000px) /*and (max-width: 1100px) */{
    h1{
        background-color: red;
    }
}